.dx-datagrid-total-footer > .dx-datagrid-content {
    padding: 0;
}

.dx-datagrid-header-panel .dx-toolbar {
    margin: 0.25em 0;
    padding: 0 0.5em;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
    padding: 0;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.home .dx-multiview {
    display: flex;
    flex-direction: column-reverse;
}

.dx-tabpanel.dx-state-focused .dx-multiview-wrapper {
    border: none;
}

.dx-tabs,
.dx-tab {
    box-shadow: none !important;
}

.dx-tab.dx-tab-selected .dx-tab-content,
.dx-tab.dx-tab-selected .dx-tab-text {
    font-weight: 500;
    color: #f59e0b !important;
}
