.dx-datagrid-total-footer > .dx-datagrid-content {
    padding: 0;
}

.dx-datagrid-header-panel .dx-toolbar {
    margin: 0.25em 0;
    padding: 0 0.5em;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
    padding: 0;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.home .dx-multiview {
    display: flex;
    flex-direction: column-reverse;
}

.dx-tab.dx-tab-selected .dx-tab-content,
.dx-tab.dx-tab-selected .dx-tab-text {
    font-weight: 500;
    color: #f59e0b !important;
}

.dx-layout-manager.dx-layout-manager-one-col .dx-box-item:not(:first-child) .dx-single-column-item-content > .dx-field-item {
    padding-top: 5px;
}

.dx-datagrid-headers .dx-texteditor-input, .dx-datagrid-rowsview .dx-texteditor-input {
    padding: 3px 7px;
    min-height: 28px;
}
